p{
    text-align: justify;
}

.logo-hive{
    height: 93px;
}

.grayback{
    background-color: rgb(14, 130, 189);
    color: whitesmoke;
}

.whiteback{
    background-color: white;
}

.move-rigth{
    display: flex;
    justify-content: space-between;
}

.image-process{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.button-margin{
    margin: 5px;
}

.padding{
    padding: 80px;
}

.padding-main{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #727679;
}

.text-cards{
    padding: 10px;
    text-align: justify;
}

.marging-cards{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.align-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logos-bg{
    background-color: rgb(14, 130, 189);
}

.logos-text{
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

.logos-img{
    background-color: #34BAFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:30px;
}

.pro-bg{
    background-color: whitesmoke;
}

.pro-text{
    text-align: center;
    padding: 10px;
    color: #727679;
    padding: 30px;
}

.button-bg{
    background-color: rgb(235, 239, 245);
}

.button-align{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-margin-register{
    margin-left: 50px;
    margin-right: 50px;
}

.color-card{
    background-color: #727679;
}

.footer-text{
    color: whitesmoke;
    font-size: 15px;
}

.footer-back{
    background-color: #a5a5a5;
    color: black;
    height: 400px;
}

.footer-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.logo-size{
    width:100px;
    height:100px;
}

.logo-devf{
    width: 200px;
    padding-top: 80px;
    padding-right: 20px;
}

.copyright{
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    padding-left: 30px;
}

.space-around{
    display: flex;
    justify-content: space-around
}

.cardF{
    margin : 25px !important;
    padding: 10px !important;
    align-items: center !important;
    
}

.card{
    margin : 25px !important;
    padding: 10px !important;
    
}

.margen{
    margin : 0px !important;
    padding: 0px !important;
}


.card-header{
    text-align: center;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.avatar {
    animation: float 4s ease infinite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar:hover
{
    animation-play-state: paused;
}

.card-group{
    padding: 0px !important;
    margin: 0px !important;
}

.row1{
    display: flex;
    justify-content: center;
    margin-right: 1 px;
    margin-left: 1 px;
}


.icono-size{
    width:80px;
    height:80px;
}

.centrar{
    display: flex;
    flex-direction: column;
}