.container {
    padding: 50px;
    margin: auto;
 
}

.logo {
    width: fit-content;
    align-self: center;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.877);
    align-self: center;
    margin-top: 150px;
}

.btn {
    margin-top: 50px;
    width: 150px;
    align-self: center !important;
    
}

.col-12 {
    justify-content: center;
}

.boton {
    margin-top: 70px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    /* margin-left: 220px; */
    margin-bottom: 20px; 
}

.button.btn {
    align-self: center !important;
} 
